extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    a(href="/twitter/authn", target="_blank")
      img(src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png", alt="Sign in with Twitter")
    script.
      window.doLoginStuff = function (user) {
        console.log('login was complete', user);
      };
